#showteams{
	text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

p.a{
  font: 25px arial, sans-serif;
}
.button{
	
}